<div class="jumbotron pt">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">
	For inquiries or reservations, you may send us a message or connect with us via email, phone, or through our Facebook page.
  </p>
  <p class="lead">
  	Connect with us and let us know how we could make your stay more enjoyable.
  </p>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-lg-8 mb-4">
			<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3852.175651098868!2d120.8070105500727!3d15.093644868799142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396fc80b108c965%3A0x6b83c8b1f2f604e9!2sThe+Great+GIGATT+Resort+%26+Leisure+Park!5e0!3m2!1sen!2sph!4v1538857942572" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-lg-4 mb-4">
			<div class="card bg-light">
				<div class="card-body">
			  	<h5 class="card-title">Email</h5>
			    <p class="card-text">thegreatgigattresort@yahoo.com.ph</p>
			  </div>
			  <div class="card-body">
			  	<h5 class="card-title">Call us</h5>
			    <p class="card-text">(045) 436 5331 <br />(0927) 470 8873 <br />(0975) 877 1424</p>
			  </div>
				<div class="card-body">
			  	<h5 class="card-title">Location</h5>
			    <p class="card-text">
			    	Pansol Pasig, Candaba, Pampanga, Philippines 
						(along Sta. Ana-Candaba-Baliwag Rd.)
			    </p>
			  </div>
			  <div class="card-body">
			  	<div class="fb-like" data-href="https://www.facebook.com/The-Great-Gigatt-Resort-Leisure-Park-1527999024099904/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
			  </div>
			</div>
		</div>
	</div>
</div>