.navbar {
	-webkit-box-shadow: -2px -5px 23px 12px rgba(0,0,0,0.67);
	-moz-box-shadow: -2px -5px 23px 12px rgba(0,0,0,0.67);
	box-shadow: -2px -5px 23px 12px rgba(0,0,0,0.67);
    z-index: 9999;
	background-color: #002157;
    font-family: 'Times Sans Serif', 'Belleza', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.navbar-item {
    margin: 5px;
}

.container {
    margin: 0 auto;
}

img {
    image-rendering: -moz-crisp-edges;
    width: 200px;
}