<!-- Footer -->
<div class="container-fluid footer">
  <div class="row">
  	<div class="col-md-12 p-4 text-center">
		<h3 class="title pt-2">CONTACT US</h3>
		<p class="body">
			Pansol Pasig, Candaba, Pampanga, Philippines <br />
			Along Sta. Ana-Candaba-Baliwag Rd. <br />
			(0927) 470 8873 / (0975) 877 1424
		</p>
		<div class="links">
	  		<a href="https://www.facebook.com/The-Great-Gigatt-Resort-Leisure-Park-1527999024099904/">
		  		<i class="fa fa-facebook-official" style="font-size:20px;"></i>
		  	</a>
		  	<a href="mailto:thegreatgigattresort@yahoo.com">
		  		<i class="fa fa-envelope" style="font-size:20px;"></i>
		  	</a>
		</div>
		<p class="body">
			© 2018 The Great GIGATT Resort & Leisure Park
		</p>
  	</div>
  </div>
</div>