.footer {
	background-color: #101010;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.title {
	font-family: 'Times Sans Serif', 'Belleza', sans-serif;
	font-size: 1em;
	color: #fff;
}

.body {
	/*font-family: 'Century Gothic', sans-serif;*/
	font-size: 0.75em;
	color: #fff;
}

.links {
	margin-bottom: 20px;
	color: #fff;
}

.links a {
	color: white;
	padding: 5px;
}

.links a:hover {
	color: #bababa;
}