<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 px-0 pt">
			<video id="avp" class="fullwidth" poster="assets/overview.jpg" preload="auto" controls>
			<!-- (mouseenter)="showControls()" (mouseleave)="hideControls()" -->
				<source src="assets/GIGATT-Finale.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="container p-5">
	<div class="row mb-4">
		<div class="col-md-12 text-center">
			<h1 class="text-blue">MALAUS KO PU!</h1>
			<div class="hl center text-blue"></div>
			<p class="lead">
				Candaba, classified as a first-class municipality in Pampanga rich in culture and heritage, has now adopted a tourist and funfair destination named <strong>The Great GIGATT Resort & Leisure Park</strong>.
			</p>
		</div>
	</div>
</div>	

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row">
	  		<div class="col-md-4 embed-responsive embed-responsive-4by3">
				<iframe 
					src="https://www.youtube.com/embed/CPlbTANud0E?rel=0&amp;showinfo=0" 
					frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>		
				</iframe>
		    </div>
		    <div class="col-md-8">
		    	<p class="p-4 text-md-left text-sm-center lead">
					The symbolic <em>Ibon-Ebon Festival</em> celebrating the scenic 32,000 hectare Candaba swamp, abundant in aquatic resources which also serves as a sanctuary for migratory birds, and the historical <em>Pampanga River Cruise</em> have inspired the developers of The Great GIGATT Resort to complement Candaba's richness in tradition. 
				</p>
		    </div>
		</div>
	</div>
</div>

<div class="container p-4">
	<div class="row text-center m-3">
		<div class="col-md-12">
		<p class="lead">
			Spanning 10 hectares of land, The Great GIGATT Resort is designed to cater to the whims of both the local and international market with its tourist-oriented amenities and traditional Filipino hospitality. We offer services and recreational facilities such as swimming pools and function halls, as well as attractions like the mini-zoo, boating area, and aviary and herbal garden that seek to bring enjoyment and relaxation to our guests.
		</p>
		</div>
	</div>
</div>	

<div class="card-group">
	<div class="card">
		<img class="card-img-top" src="assets/about-lovelocks.JPG" (click)="showImage('assets/about-lovelocks.JPG')" alt="Lovelocks"
		data-toggle="modal" data-target="#myModal">
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/about-boating.JPG" (click)="showImage('assets/about-boating.JPG')" alt="Boating area"
		data-toggle="modal" data-target="#myModal">
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/about-ostrich.JPG" (click)="showImage('assets/about-ostrich.JPG')" alt="Mini-zoo"
		data-toggle="modal" data-target="#myModal">
	</div>
</div>

<div class="container p-4">
	<div class="row text-center m-3">
		<div class="col-md-12">
			<p class="lead">
				Great for celebrations, family festivities, weddings, and even for business and corporate seminar meetings. Our facilities can manage and provide a comfortable and safe haven on your VIP stay.
			</p>
		</div>
	</div>
	<div class="row text-center m-3">
		<div class="col-md-12">
			<p class="lead">
				The Great GIGATT Resort values every minute of your stay. Feel free to visit us and inform us of your wants so we can put smiles in your hearts.
			</p>
		</div>
	</div>
</div>	

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
			<img class="img-fluid" src="{{modalImg}}">
        </div>
      </div>
    </div>
  </div>
</div>
