<div class="jumbotron pt">
  <h1 class="display-4">Rates</h1>
  <p class="lead">
    All rooms are inclusive of TV, mini fridge, air conditioning, and bathroom. Swimming pool rentals are available from 9AM-5PM.
  </p>
  <p class="lead">
    <a class="btn btn-outline-secondary" href="contact" role="button">Inquire now</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">POOLS & COTTAGES</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Day Swimming (Entrance)</h5>
            <h6 class="card-subtitle mb-2 text-muted">8AM-5PM</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Adults</p>
                <small class="text-muted">PHP 150/head</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Kids</p>
                <small class="text-muted">PHP 120/head</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Night Swimming (Entrance)</h5>
            <h6 class="card-subtitle mb-2 text-muted">5PM-9PM</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Adults</p>
                <small class="text-muted">PHP 180/head</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Kids</p>
                <small class="text-muted">PHP 150/head</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/small-pool.jpg" alt="Small Pool">
          <div class="card-body">
            <h5 class="card-title">Small Pool Rental</h5>
            <p class="card-subtitle text-muted">Inclusive of concrete benches and videoke (maximum of 40 pax)</p>
          </div>
          <div class="card-footer text-muted">
            PHP 10,000
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/big-pool.jpg" alt="Big Pool">
          <div class="card-body">
            <h5 class="card-title">Big Pool Rental</h5>
            <p class="card-subtitle text-muted">Inclusive of cottage use and videoke (maximum of 60 pax)</p>
          </div>
          <div class="card-footer text-muted">
            PHP 20,000
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/benches.png" alt="Concrete Benches">
          <div class="card-body">
            <h5 class="card-title">Concrete Benches</h5>
          </div>
          <div class="card-footer text-muted">
            PHP 300
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/small-cottage.png" alt="Small Cottage">
          <div class="card-body">
            <h5 class="card-title">Small Cottage</h5>
            <p class="card-subtitle text-muted">Maximum of 12 pax</p>
          </div>
          <div class="card-footer text-muted">
            PHP 500
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/big-cottage.png" alt="Big Cottage">
          <div class="card-body">
            <h5 class="card-title">Big Cottage</h5>
            <p class="card-subtitle text-muted">Maximum of 24 pax</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,000
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">MANSION ROOMS</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/room1.png" alt="Room 1">
          <div class="card-body">
            <h5 class="card-title">Room 1</h5>
            <p class="card-subtitle text-muted">4 double decks <br />Capacity: 8 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 5,000
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/room2.png" alt="Room 2">
          <div class="card-body">
            <h5 class="card-title">Room 2</h5>
            <p class="card-subtitle text-muted">4 double decks <br />Capacity: 8 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 5,000
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/room4.png" alt="Room 4">
          <div class="card-body">
            <h5 class="card-title">Room 4</h5>
            <p class="card-subtitle text-muted">Capacity: 6 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 4,000
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/room5.png" alt="Room5">
          <div class="card-body">
            <h5 class="card-title">Room 5</h5>
            <p class="card-subtitle text-muted">Capacity: 6 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 3,500
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/room6.png" alt="Room 6">
          <div class="card-body">
            <h5 class="card-title">Room 6</h5>
            <p class="card-subtitle text-muted">Capacity: 6 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 3,500
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">BAHAY NI SIR ATO ROOMS</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/rooma.png" alt="Room A">
          <div class="card-body">
            <h5 class="card-title">Room A</h5>
            <p class="card-subtitle text-muted">Capacity: 2 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,800
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/roomb.png" alt="Room B">
          <div class="card-body">
            <h5 class="card-title">Room B</h5>
            <p class="card-subtitle text-muted">Capacity: 2 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,800
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/roomc.png" alt="Room C">
          <div class="card-body">
            <h5 class="card-title">Room C</h5>
            <p class="card-subtitle text-muted">Capacity: 2 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,800
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">APUNG TERANG HALL, BACK VILLA, & CAMPHOUSES</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/apung-terang.jpg" alt="Apung Terang Hall">
          <div class="card-body">
            <h5 class="card-title">Apung Terang Hall</h5>
            <p class="card-subtitle text-muted">Capacity: 16 persons</p>
          </div>
          <div class="card-footer text-muted">
            PHP 10,000
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/backvilla.jpg" alt="Back Villa">
          <div class="card-body">
            <h5 class="card-title">Back Villa Rooms 1-4</h5>
            <p class="card-subtitle text-muted">Capacity: 2 persons/room</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,500/room
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/camphouse.png" alt="Camphouses">
          <div class="card-body">
            <h5 class="card-title">Camphouses 1 & 2</h5>
            <p class="card-subtitle text-muted">Capacity: 2 persons/camphouse</p>
          </div>
          <div class="card-footer text-muted">
            PHP 1,200/camphouse
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">EVENT VENUES</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/apung-miding.png" alt="Apung Miding Hall">
          <div class="card-body">
            <h5 class="card-title">Apung Miding Hall</h5>
            <p class="cardsubtitle text-muted">Videoke system available</p>
          </div>
          <div class="card-footer text-muted">
            PHP 4,000/4 hrs
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/function-hall.jpg" alt="Apung Cintu Function Hall">
          <div class="card-body">
            <h5 class="card-title">Apung Cintu Function Hall</h5>
            <p class="card-subtitle text-muted">For birthdays, weddings, and family celebrations</p>
          </div>
          <div class="card-footer text-muted">
            PHP 10,000 for 4 hrs
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/events-place.jpg" alt="Events Place">
          <div class="card-body">
            <h5 class="card-title">Pool Side Events Place</h5>
            <p class="card-subtitle text-muted">Outside Apung Miding Hall</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/apung-pipang.png" alt="Apung Pipang Event Area">
          <div class="card-body">
            <h5 class="card-title">Apung Pipang Event Area</h5>
            <p class="card-subtitle text-muted">Garden Area</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-5">
      <h2 class="text-center">OTHER RENTALS</h2> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="assets/rates/billiards.jpg" alt="Billiards">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Billiards Table</p>
                <small class="text-muted">PHP 100/hr</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Pool Table</p>
                <small class="text-muted">PHP 100/hr</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Videoke Machine Rental</p>
                <small class="text-muted">PHP 600</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/rates/boating.jpg" alt="Boating">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Boating</p>
                <small class="text-muted">PHP 200/hr</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Fishing</p>
                <small class="text-muted">PHP 200/kilo</small>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Fishing Rod Rental</p>
                <small class="text-muted">PHP 150/hr</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>