<div class="container pt-150">
  <div class="row">
    <h1>Gallery</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <img *ngFor="let photo of poolPhotos" src="{{photo}}" style="width: 100%;" data-toggle="modal" data-target="#myModal" (click)="showImage(photo)">
    </div>
    <div class="column">
      <img *ngFor="let photo of eventPhotos" src="{{photo}}" style="width: 100%;" data-toggle="modal" data-target="#myModal" (click)="showImage(photo)">
    </div>
    <div class="column">
      <img *ngFor="let photo of poolPhotos" src="{{photo}}" style="width: 100%;" data-toggle="modal" data-target="#myModal" (click)="showImage(photo)">
    </div>
    <div class="column">
      <img *ngFor="let photo of eventPhotos" src="{{photo}}" style="width: 100%;" data-toggle="modal" data-target="#myModal" (click)="showImage(photo)">
    </div>
  </div>
</div>

<!-- <div class="container mb-5 pt-150">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          <h1 class="text-lg-left">Pools & Cottages</h1>
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <div class="row" *ngFor="let arr of poolPhotos">
      			<div class="photo m-1 col padding-0" *ngFor="let photo of arr; let i = index">
              <a href="#demo" attr.data-slide-to="{{i}}">
      				  <img class="img-fluid thumbnail" src="{{photo}}" data-toggle="modal" data-target="#myModal" (click)="showImage(photo, i)">
              </a>
      			</div>
    		  </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          <h1 class="text-lg-left">Rooms</h1>
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row" *ngFor="let arr of roomPhotos">
			<div class="photo m-1 col padding-0 "  *ngFor="let photo of arr; let i = index">
				<img class="img-fluid thumbnail" src="{{photo}}" data-toggle="modal" data-target="#myModal" (click)="showImage(photo, i)">
			</div>
		  </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          <h1 class="text-lg-left">Event Areas</h1>
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row" *ngFor="let arr of eventPhotos">
			<div class="photo m-1 col padding-0"  *ngFor="let photo of arr; let i = index">
			  <img class="img-fluid thumbnail" src="{{photo}}" data-toggle="modal" data-target="#myModal" (click)="showImage(photo, i)">
			</div>
		  </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
          <h1 class="text-lg-left">Leisure Park & Mini Zoo</h1>
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row" *ngFor="let arr of leisurePhotos">
			<div class="photo m-1 col padding-0"  *ngFor="let photo of arr; let i = index">
			  <img class="img-fluid thumbnail" src="{{photo}}" data-toggle="modal" data-target="#myModal" (click)="showImage(photo, i)">
			</div>
		  </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
          <h1 class="text-lg-left">Activity Areas</h1>
        </a>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <div class="row" *ngFor="let arr of activityPhotos">
			<div class="photo m-1 col padding-0"  *ngFor="let photo of arr; let i = index">
			  <img class="img-fluid thumbnail" src="{{photo}}" data-toggle="modal" data-target="#myModal" (click)="showImage(photo, i)">
			</div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
        <div class="modal-body">
          <img class="img-fluid" src="{{modalImg}}">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"> -->
          <!-- <img class="img-fluid" src="{{modalImg}}"> -->
          <!-- <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 padding-0">
                <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                 -->
                  <!-- The slideshow -->
                  <!-- <div class="carousel-inner">
                    <ng-container *ngFor="let arr of poolPhotos">
                      <div class="carousel-item" *ngFor="let photo of arr; let i = index" [ngClass]="{'active' : photo == modalImg}">
                        <img src="{{photo}}" class="img-fluid" >
                      </div>
                    </ng-container>
                  </div> -->

                  <!-- Left and right controls -->
                  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->