<div class="container-fluid" style="padding-top: 89px;">
  <div class="row">
    <div class="col-md-12 padding-0">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
 -->
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/pool.png" alt="Swimming Pool" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="assets/aviary.png" alt="Aviary" class="img-fluid">
          </div>
          <div class="carousel-item">
            <img src="assets/entrance.png" alt="Welcome" class="img-fluid">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <div class="carousel-text d-none d-md-block">
        <p class="carousel-text-title" style="margin-bottom: 5px;">
          <span>Malibang at Saya</span>
          <span>Tamu Keni!</span>
        </p>
        <p class="carousel-text-body font-italic">
          Experience enjoyment and relaxation
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-none d-md-block">
  <div class="row">
    <div class="col-md-12 padding-0">
      <div class="section text-center" style="display: block;">
        <p class="section-title text-blue space-20">
          <span>THE GREAT GIGATT</span>
          <span> RESORT & LEISURE PARK</span>
        </p>
        <p class="lead">
          Welcome to The Great GIGATT Resort & Leisure Park of Pansol-Pasig, Candaba, Pampanga. 
        </p>
        <a href="/about" class="btn btn-outline-secondary" role="button">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4 padding-0 mask gradient-bottom">
      <img src="assets/inihaw.png" alt="Inihaw">
      <div class="img-text">
        <p class="img-text-title">
          <span>Manyaman</span>
          <span>Ini!</span>
        </p>
        <p class="img-text-body">
          <span>Taste the wonders of</span>
          <span> authentic Kapampangan dishes.</span>
          <span>Kanyaman na!</span>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 padding-0 mask gradient-bottom">
      <img src="assets/bangka.png" alt="Bangka">
      <div class="img-text">
        <p class="img-text-title">
          <span>Magbangka</span>
          <span>Tamu!</span>
        </p>
        <p class="img-text-body">
          <span>Spend quality time with your loved </span>
          <span> ones as you enjoy the recreational </span>
          <span> activities in store for you.</span>
        </p>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 padding-0 mask gradient-bottom">
      <img src="assets/sunflowers.png" alt="Sunflowers">
      <div class="img-text">
        <p class="img-text-title">
          <span>Kasanting</span>
          <span>Keni!</span>
        </p>
        <p class="img-text-body">
          <span>Relax while exploring the many </span>
          <span> sceneries and tourist attractions </span>
          <span> The Great GIGATT has to offer.</span>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-none d-md-block">
  <div class="row">
    <div class="col-xs-12 col-md-12 padding-0 mask gradient-top">
      <img src="assets/venue.png" alt="venue">
      <div class="img-text">
        <div class="space-20"></div>
        <p class="img-text-title space-20">
          <span>CELEBRATE WITH US</span>
        </p>
        
        <div class="hl center"></div>

        <p class="section-body">
          <span>
            Our venues and function halls are great for events such as weddings, family festivities, and 
          </span>
          <span> even for business and corporate seminar meetings.</span>
        </p>
      </div>
    </div>
  </div>
</div>