.fullwidth {
	width: 100%;
}

.carousel-inner {
	width: 100%;
}

img {
	width: 100%;
}

span {
	display: block;
}

h4, h3 {
	font-family: 'Times Sans Serif', 'Belleza', sans-serif;
}

a.carousel-control-next {
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 100%);
}
a.carousel-control-prev{
 background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 100%);
}

.carousel-item::after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

.carousel-caption {
	top: 20%;
    bottom: 30%;
}

.section {
	background-color: white;
}

.section h4 {
	color: #002157;
}

.overlay-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.mask::after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.5);
}

.gradient-bottom::after {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0px, rgba(0, 0, 0, 0) 100%);
}

.gradient-top::after {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0px, rgba(0, 0, 0, 0) 100%);
}

.hl {
    border-top: 4px solid white;
    width: 50%;
    margin: 20px auto;
}

.content {
	overflow: hidden;
	width: 100%;
	height: 30%;
}

.content img {
	object-fit: cover;
}

@media screen and (min-width: 600px) {
  .carousel-caption h4 {
    font-size: 3em;
  }

  .carousel-caption small {
  	font-size: 1.25em;
  }

  .section h4 {
  	font-size: 2em;
  }

  .overlay-center h4 {
  	font-size: 2.75em;
  }

  .overlay-center h3 {
  	font-size: 2.25em;
  }

  .overlay-center small {
  	font-size: 1em;
  }

  .overlay-center p {
  	font-size: 1.20em;
  }
}

@media screen and (max-width: 600px) {
  .carousel-caption h4 {
    font-size: 1.85rem;
  }

  .section h4 {
  	font-size: 1.85em;
  }

  .overlay-center h4 {
  	font-size: 3.5em;
  }

  .overlay-center h3 {
  	font-size: 1.5em;
  }

  .overlay-center small {
  	font-size: 1em;
  }

  .overlay-center p {
  	font-size: 1.5em;
  }
}