<div class="jumbotron pt">
  <h1 class="display-4">The Kapampangan Language</h1>
  <p class="lead">
    A short list of useful and interesting Kapampangan words that might come in handy during your stay, or just for future reference.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3">
      <h1 class="text-center">SIMPLE PHRASES</h1> 
    </div>
  </div>
  <div class="card-columns">
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mayap a abak"</h3>
	      <h4><small class="text-muted font-italic">Good morning</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mayap a gatpanapun"</h3>
	      <h4><small class="text-muted font-italic">Good afternoon</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mayap a bengi"</h3>
	      <h4><small class="text-muted font-italic">Good evening</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Malaus ko pu"</h3>
	      <h4><small class="text-muted font-italic">Welcome</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-info text-white">
	    <div class="card-body text-center">
	      <h3 class="card-title" style="color: white;">"Dakal pung salamat"</h3>
	      <h4><small class="font-italic">Thank you</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Bay"</h3>
	      <h4><small class="text-muted font-italic">Goodbye</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-info text-white">
	    <div class="card-body text-center">
	      <h3 class="card-title" style="color: white;">"Kaluguran daka"</h3>
	      <h4><small class="font-italic">I love you</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Pilan na kang banua?"</h3>
	      <h4><small class="text-muted font-italic">How old are you?</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Muli ku"</h3>
	      <h4><small class="text-muted font-italic">I will go home</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Nukarin ka (kanyan)?"</h3>
	      <h4><small class="text-muted font-italic">Where are you?</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Muli ku"</h3>
	      <h4><small class="text-muted font-italic">I will go home</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Sinali yang nasi"</h3>
	      <h4><small class="text-muted font-italic">He bought rice</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Makananu meng gewa ita?"</h3>
	      <h4><small class="text-muted font-italic">How did you do that?</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Kapilan ka mibalik?"</h3>
	      <h4><small class="text-muted font-italic">When will you be back?</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Atyu ku keni / Ati ku keni"</h3>
	      <h4><small class="text-muted font-italic">I am here</small></h4>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 mt-5 mb-3">
      <hr> 
    </div>
	</div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3">
      <h1 class="text-center">SIMPLE WORDS</h1> 
    </div>
  </div>
  <div class="card-columns">
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Minum"</h3>
	      <h4><small class="text-muted font-italic">Drink</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Danum"</h3>
	      <h4><small class="text-muted font-italic">Water</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Nasi"</h3>
	      <h4><small class="text-muted font-italic">Rice</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Malagu"</h3>
	      <h4><small class="text-muted font-italic">Beautiful</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Danupan"</h3>
	      <h4><small class="text-muted font-italic">Hungry</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Marukat / Matsura"</h3>
	      <h4><small class="text-muted font-italic">Ugly</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Masanting"</h3>
	      <h4><small class="text-muted font-italic">Handsome</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Muret / Bolang"</h3>
	      <h4><small class="text-muted font-italic">Fool</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-info text-white">
	    <div class="card-body text-center">
	      <h3 class="card-title" style="color: white;">"Mangan"</h3>
	      <h4><small class="font-italic">Eat</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Taksyapo"</h3>
	      <h4><small class="text-muted font-italic">Bullshit</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Maragul"</h3>
	      <h4><small class="text-muted font-italic">Big</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Buri"</h3>
	      <h4><small class="text-muted font-italic">Like</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Malati"</h3>
	      <h4><small class="text-muted font-italic">Small</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Bisa"</h3>
	      <h4><small class="text-muted font-italic">Want</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Ditak"</h3>
	      <h4><small class="text-muted font-italic">Few/less</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Ebon"</h3>
	      <h4><small class="text-muted font-italic">Egg</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Malangi"</h3>
	      <h4><small class="text-muted font-italic">Dry</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Tete"</h3>
	      <h4><small class="text-muted font-italic">Bridge</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Maklak"</h3>
	      <h4><small class="text-muted font-italic">Deaf</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mabsi"</h3>
	      <h4><small class="text-muted font-italic">Stomach full</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mipmu"</h3>
	      <h4><small class="text-muted font-italic">Full</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Manwas"</h3>
	      <h4><small class="text-muted font-italic">Wash</small></h4>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 mt-5 mb-3">
      <hr> 
    </div>
	</div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3">
      <h1 class="text-center">NUMBERS</h1> 
    </div>
  </div>
  <div class="card-columns">
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Metung"</h3>
	      <h4><small class="text-muted font-italic">One</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Adua"</h3>
	      <h4><small class="text-muted font-italic">Two</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Atlu"</h3>
	      <h4><small class="text-muted font-italic">Three</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Apat"</h3>
	      <h4><small class="text-muted font-italic">Four</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Lima"</h3>
	      <h4><small class="text-muted font-italic">Five</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Anam"</h3>
	      <h4><small class="text-muted font-italic">Six</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Pitu"</h3>
	      <h4><small class="text-muted font-italic">Seven</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Walu"</h3>
	      <h4><small class="text-muted font-italic">Eight</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Syam"</h3>
	      <h4><small class="text-muted font-italic">Nine</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Apulu"</h3>
	      <h4><small class="text-muted font-italic">Ten</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Dinalan"</h3>
	      <h4><small class="text-muted font-italic">One hundred</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Limang Dalan"</h3>
	      <h4><small class="text-muted font-italic">Five hundred</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Metung libu"</h3>
	      <h4><small class="text-muted font-italic">One thousand</small></h4>
	    </div>
	  </div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12 mt-5 mb-3">
      <hr> 
    </div>
	</div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3">
      <h1 class="text-center">PARTS OF THE BODY</h1> 
    </div>
  </div>
  <div class="card-columns">
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Mata"</h3>
	      <h4><small class="text-muted font-italic">Eyes</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Balugbog"</h3>
	      <h4><small class="text-muted font-italic">Ears</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Arong"</h3>
	      <h4><small class="text-muted font-italic">Nose</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Gamat"</h3>
	      <h4><small class="text-muted font-italic">Arm</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Bitis"</h3>
	      <h4><small class="text-muted font-italic">Leg</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Batal"</h3>
	      <h4><small class="text-muted font-italic">Neck</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Tundun"</h3>
	      <h4><small class="text-muted font-italic">Nape</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Lupa"</h3>
	      <h4><small class="text-muted font-italic">Face</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Kile"</h3>
	      <h4><small class="text-muted font-italic">Eyebrows</small></h4>
	    </div>
	  </div>
	</div>
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-lg-12 mt-5 mb-3">
      <hr> 
    </div>
	</div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3">
      <h1 class="text-center">JOKE PHRASES</h1> 
    </div>
  </div>
  <div class="card-deck">
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Asapuke ing bola"</h3>
	      <h4><small class="text-muted font-italic">I caught the ball / Nasalo ko ang bola</small></h4>
	    </div>
	  </div>
	  <div class="card shadow-sm bg-light">
	    <div class="card-body text-center">
	      <h3 class="card-title">"Lalam tete"</h3>
	      <h4><small class="text-muted font-italic">Under the bridge / Ilalim ng tulay</small></h4>
	    </div>
	  </div>
	</div>
</div>